
.container-fluid{
    display: flex;
    justify-content: center;
        align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(251, 246, 246);
}



.login-box{
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
    min-width:30vw;
    min-height:40vh;
    padding: 30px;
    justify-content:space-between;
    background-color:white;
    box-shadow: 18px 15px 4px 7px rgba(0,0,0,0.75);
}


#log-In-button{
    border: none;
    border-radius: 25px;
    background-color: rgb(20, 125, 246);
    width: 225px;
    padding:15px;
    color:white;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    flex-shrink:inherit;
    


}
#password, #username{
    margin: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    width: 225px;
    font-size: large;

    
}
@media (any-hover:hover){
    #username:hover, #password:hover,#log-In-button:hover {
        background-color: rgba(48, 97, 166, 0.378);
    }
    
}

